<div style="display:flex; flex-wrap: wrap; justify-content: center;">

    <mat-card style="margin-top: 2%; width: 40%; min-width: 100px;">
        <div>
            <b>RoomCode</b>
            <p style="float:right">{{ room?.roomId }}</p>
        </div>
        <mat-divider inset="true" style="margin-bottom: 3%"></mat-divider>
        <div style="clear: both;"></div>
        <div>
            <b>Owner</b>
            <!-- This implicitly assumes that playerStates[0] is the owner  -->
            <p style="float:right">{{room?.playerStates?.[0]?.nick}}</p>
        </div>
        <mat-divider inset="true" style="margin-bottom: 3%"></mat-divider>
        <div style="clear: both;"></div>
        <div>
            <b>Maximum players</b>
            <p style="float:right">{{room?.roomConstraints?.maxNumPlayers}}</p>
        </div>
        <mat-divider inset="true" style="margin-bottom: 3%"></mat-divider>
        <div style="clear: both;"></div>

        <div>
            <b>Round duration</b>
            <p style="float:right">{{(room?.roomConstraints?.durationMillis || 0)/60000}} minutes</p>
        </div>
        <mat-divider inset="true" style="margin-bottom: 3%"></mat-divider>
        <div style="clear: both;"></div>
        <div>
            <b>Guesses per round</b>
            <p style="float:right">{{room?.roomConstraints?.maxNumGuesses}}</p>
        </div>
        <mat-divider inset="true" style="margin-bottom: 1%"></mat-divider>
    </mat-card>
    <div class="break"></div>
    <mat-card style="margin-top: 1%; width: 50%; text-align: center;">
        <mat-card-title>Players</mat-card-title>
        <mat-list *ngFor="let p of room?.playerStates">
            <mat-list-item style="width: 100%; display:flex; justify-content:center">{{ p.nick }}</mat-list-item>
            <mat-divider inset="true"></mat-divider>
        </mat-list>
    </mat-card>
    <button mat-fab color="accent" style="position:absolute; top:5%; right:10%" (click)="startRoom()">
        <mat-icon>play_arrow</mat-icon>
    </button>

</div>