<div style="justify-content: center; display: flex">
  <div style="width: 1000px">
    <p style="text-align: center; margin-top: 20px; font-size: 30px">
      Round {{ getCurrentRound(getMyPlayerState()!)[0] + 1 }}
    </p>
    <mat-divider></mat-divider>
    <div style="display: flex; margin-top: 2%">
      <app-ranklist style="flex-grow: 0.7" [roomId]="roomId"></app-ranklist>
      <div style="flex-grow: 3">
        <app-word
          *ngFor="let c of guesses"
          [word]="c.guess.join('')"
          [matchString]="c.matchString"
          [isCurrent]="c.isCurrent"
        ></app-word>
      </div>
      <div style="display: flex; flex-direction: column; flex-grow: 1">
        <div style="display: flex; justify-content: center">
          <round-progress
            [radius]="49"
            [stroke]="3"
            [current]="remainingTimeMillis"
            [max]="room?.roomConstraints?.durationMillis || 0"
            style="display: flex; justify-content: space-around"
          >
          </round-progress>
          <div
            style="position: absolute; align-self: center"
            class="mat-typography"
          >
            {{
              (remainingTimeMillis - (remainingTimeMillis % 60000)) / 60000
            }}m{{
              ((remainingTimeMillis % 60000) - (remainingTimeMillis % 1000)) /
                1000
            }}s
          </div>
        </div>
        <mat-divider style="margin-top: 3%; margin-bottom: 3%"></mat-divider>
        <div
          style="display: flex; flex-direction: column; justify-content: center"
        >
          <div
            *ngFor="let c of roundHistory; let i = index"
            [attr.data-index]="i"
          >
            <div *ngIf="c == 'W'" style="color: darkgreen; text-align: center">
              {{ (room?.answers)![i] }}
            </div>
            <div *ngIf="c == 'L'" style="color: darkred; text-align: center">
              {{ (room?.answers)![i] }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="simple-keyboard" style="margin-top: 2%"></div>
  </div>
</div>
