<div style="justify-content: center; display: flex; margin-top: 1%; ">
  <div *ngFor="let c of chars" [ngStyle]="{
      'background-color': c.color,
      'box-shadow': isCurrent
        ? '0px 0px 40px 5px rgba(255, 255, 0, 0.5)'
        : undefined
    }" class="guess-letter">
    {{ c.value }}
  </div>
</div>