.guess-letter {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px -1px rgb(0 0 0 / 30%);
  text-align: center;
  height: 5%;
  width: 4%;
  padding-left: 30%;
  padding: 5px;
  margin-right: 5px;
}
