<mat-card>
  <mat-list>
    <div *ngFor="let s of scores; let i = index" [attr.data-index]="i">
      <mat-list-item>
        <div mat-line>{{ i + 1 }}. {{ s.nick }}</div>
        <div mat-icon>{{ s.score }}</div>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
    </div>
  </mat-list>
</mat-card>
