<div style="display: flex; flex-wrap: wrap; justify-content: center">
  <mat-form-field
    style="margin-top: 5%; font-size: 200%; text-align: center"
    appearance="outline"
  >
    <mat-label>Nick</mat-label>
    <input matInput [formControl]="nick" required />
    <mat-error *ngIf="nick.invalid" style="font-size: 50%"
      >Nick is invalid</mat-error
    >
  </mat-form-field>
  <div class="break"></div>
  <!-- break -->
  <mat-tab-group>
    <mat-tab label="Create a room" style="display: flex; display: flex">
      <mat-form-field
        style="
          text-align: center;
          display: flex;
          justify-content: center;
          margin-top: 2%;
        "
      >
        <mat-label>Num Guesses</mat-label>
        <input
          matInput
          type="number"
          min="4"
          max="10"
          [formControl]="numGuesses"
        />
      </mat-form-field>
      <div class="break"></div>
      <mat-form-field
        style="text-align: center; display: flex; justify-content: center"
      >
        <mat-label>Duration (minutes)</mat-label>
        <input
          matInput
          type="number"
          min="1"
          max="10"
          [formControl]="durationMinutes"
        />
      </mat-form-field>
      <div class="break"></div>
      <mat-form-field
        style="text-align: center; display: flex; justify-content: center"
      >
        <mat-label>Maximum players</mat-label>
        <input
          matInput
          type="number"
          min="2"
          max="10"
          [formControl]="maxPlayers"
        />
      </mat-form-field>
      <mat-form-field
        style="text-align: center; display: flex; justify-content: center"
      >
        <mat-label>Word length</mat-label>
        <input
          matInput
          type="number"
          min="4"
          max="10"
          [formControl]="wordLength"
        />
      </mat-form-field>
      <div style="display: flex; justify-content: center">
        <mat-form-field floatLabel="always" class="slider-form-last-input">
          <mat-label style="display: flex; justify-content: center"
            >Difficulty</mat-label
          >
          <mat-slider
            thumbLabel
            min="1"
            max="8"
            step="1"
            tickInterval="1"
            [showTickMarks]="true"
            [discrete]="true"
            color="accent"
            style="display: flex; justify-content: center"
          >
            <input matSliderStartThumb [formControl]="minDifficulty" />
            <input matSliderEndThumb [formControl]="maxDifficulty" />
          </mat-slider>
          <textarea matInput hidden></textarea>
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        color="accent"
        style="margin-left: 38%"
        (click)="createAndGoToRoom()"
      >
        Create
      </button>
    </mat-tab>
    <mat-tab label="Join a room">
      <mat-form-field
        style="
          text-align: center;
          display: flex;
          justify-content: center;
          margin-top: 2%;
        "
      >
        <mat-label>RoomCode</mat-label>
        <input matInput [formControl]="joinRoomId" />
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        style="margin-left: 38%; margin-top: 1%"
        (click)="joinAndGoToRoom()"
      >
        Join
      </button>
    </mat-tab>
  </mat-tab-group>
</div>
