<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span onclick="window.location='/'" style="cursor: pointer;">WordleRush</span>
</mat-toolbar>
<router-outlet></router-outlet>