@use "@angular/material" as mat;
@use "@angular/material-experimental" as mat-experimental;
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "simple-keyboard/build/css/index.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto Mono, "Helvetica Neue", sans-serif;
}

$monospace-typography: mat.define-typography-config(
  $font-family: "Roboto Mono",
);
@include mat.core($monospace-typography);

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.break {
  flex-basis: 100%;
  height: 0;
}

$candy-app-primary: mat.define-palette(mat.$deep-purple-palette);
$candy-app-accent: mat.define-palette(mat.$amber-palette);
$candy-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $candy-app-primary,
      accent: $candy-app-accent,
    ),
  )
);

@include mat-experimental.mdc-slider-theme($candy-app-theme);
